#upload-workspace-panel, #download-workspace-panel  {
  position: absolute;
  height: 20%; 
  width: 30%; 
  background-color: rgba(255,255,255,0.94);
  display: none;
  overflow: hidden;
  z-index: 1048576;
  right: 0;
  top: 0;
  padding: 10px;
}

#upload-workspace-panel span, #download-workspace-panel span {
  width: 100%;
  padding-left: 2%;
}

#upload-workspace-panel input, #download-workspace-panel input {
  width: 80%;
  margin-right: 3px;
}

#upload-workspace-panel h3, #download-workspace-panel h3 {
  text-align: center;
}
